*{
  margin: 0px;
  padding: 0px;
}

body{
  background: url('./images/animais.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  /*background: linear-gradient(45deg, rgb(163, 163, 163), rgb(186, 186, 186), rgb(167, 167, 167));*/
  height: 100vh;
}

.app{
  background-color: rgba(128, 128, 128, 0.516);
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  padding: 5px;
}

#listaAnimais{
  list-style: none;
  width: 100%;
}

span{
  text-align: left;
}

.animal{
  background-color: #e2e2e2;
  width: 180px;
  height: auto;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
}

.animal > img{
  width: 50%;
  height: 50%;
  border: 1px solid black;
  float: right;
  margin-left: 20px;
}
h4{
  margin-top: 10px;
}

.btns{
  padding: 8px;
  margin-left: 10px;
  border-radius: 15px;
  color: white;
  border: none;
  width: 75px;
  cursor: pointer;
  margin-top: 10px;
}

.bt_cadastrar{
  background-color: rgb(54, 54, 255);
}

.bt_concluir{
  background-color: rgb(0, 205, 0);
}

.bt_remover{
  background-color: red;
}

.bt_pendente{
  background-color: yellow;
}

.cadastrar{
  display: flex;
  align-items: center;
  padding: 8px;
}

i.black{
  color: black;
}

.cadastrar input{
  width: 100%;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  padding: 4px;
}


button:active {
  transform: translateY(-3px);
}
 
.conteudo {
  margin: 16px;
  display: flex;
  padding: 5px;
  align-items: center;
}
 
.conteudo input {
  width: 70%;
  height: 28px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  padding: 4px;
}
 
.conteudo select {
  margin: 5px;
  height: 38px;
  width: 150px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  padding: 4px;
 
}
 
.conteudo button {
  background-color: rgb(0, 86, 246);
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid transparent;
  margin: 5px;
 
}
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}